.username{
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.password{ 
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    font-size: 14px;
}

.message{
    color: blue;
    font-size: 14px;
}

.forma {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 14px;
}

.laber {
    display: flex;
    padding: 10px;
    width: 50%;
}

.inputer {
    display: flex;
    padding: 10px;
    width: 50%;
}

.buttoner {
    align-items: center;
}

.buttoner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}