.username{
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.password{ 
    display: flex;
    justify-content: center;
}

.inputError {
    border-color: red;
}

.error {
    position: absolute;
    bottom: -25px;
    left: 0;
    background-color: gray;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
    color: red;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.message{
    color: blue;
    font-size: 14px;
}

.forma {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 14px;
}

.laber {
    display: flex;
    padding: 10px;
    width: 50%;
}

.inputer {
    display: flex;
    padding: 10px;
    width: 50%;
}

.buttoner {
    align-items: center;
}

.buttoner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.uper {
    display: flex;
    color: red;
    font-size: 32px;
    justify-content: center;
}

.downer {
    font-size: 32px;
    background-color: red;
    border-radius: 18px;
}

