  .wrapper {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 300px;
    overflow-y: scroll;
  }

  .wrapper::-webkit-scrollbar {
    width: 8px;
}


.wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(93, 185, 232);
    border-radius: 8px;
}