
.wrapper {
    padding: 0px 20px;
    height: 350px;
    max-width: 300px;
}
.block {
    display: flex;
    background-color: rgb(93, 185, 232);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

.button {
    padding: 17px 0px 0px 0px;
}