
.wrapper {
    padding: 0px 20px;
    height: 350px;
    max-width: 300px;
}
.block {
    display: flex;
    background-color: rgb(93, 185, 232);
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.button {
    position: relative;
    top: 8px;
    left: 14px;
}