
.wrapper {
    padding: 10px;
}
.block {
    display: flex;
    background-color: rgb(93, 185, 232);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.button {
    padding: 17px 0px 0px 0px;
}