.selectWrapper {
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    position: absolute;
    top: 250px;
    display: none;
    z-index: 2;
}

.optionWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconWapper {
    display: flex;
    width: 100px;
    flex-direction: column;
}

.textWrapper {
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;
    font-size: 32px;
}


.selectWrapper.on {
    justify-content: flex-end;
    box-shadow:  0 0 10px green;
  }
  
.selectWrapper.off {
    justify-content: flex-start;
    box-shadow:  0 0 10px red;
  }

  .selectWrapper.click {
    color: blue;
    overflow: scroll;
    width: 500px;
    height: 100px;
    background-color: black;
    overflow: auto;
    display: block;
  }



  .her {
    color: red;
    position: static;
    text-align: center;
    padding: 5px;
  }
