.wrapper {
  border-radius: 8px;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(93, 185, 232);
  border-radius: 8px;
}

.dont {
  height: 340px;
  max-width: 290px;
  overflow-y: scroll;
  padding: 0px 10px;
  text-align: center;
  font-size: 17px;
}

.dont::-webkit-scrollbar {
  width: 8px;
}

.dont::-webkit-scrollbar-thumb {
  background-color: rgb(93, 185, 232);
  border-radius: 8px;
}

.message {
  color: rgb(93, 185, 232);
}

.buttonWrapper {
  display: flex;
  height: 41px;
}

.sendMessage {
  display: flex;
  padding: 5px;
  align-items: center;
}

.button {
  background-color: rgb(93, 185, 232);
  border-radius: 30px;
  width: 41px;
  border: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(77, 152, 190);
}

.logo {
  font-size: 29px;
  display: flex;
}

.bmw {
  margin: 4px;
  padding: 0px;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(93, 185, 232);
  background-color: white;
  color: rgb(93, 185, 232);
  text-align: left;
  font-size: 17px;
  user-select: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  outline: none;
}

.bmw:hover {
  border-bottom: 2px solid rgb(82, 138, 166);
}

.bmw:focus {
  border-bottom: 2px solid rgb(82, 138, 166);
}
