  .wrapper {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    height: 350px;
    max-width: 300px;
    overflow-y: auto;
  }


  .wrapper {
    color: gray;
    background-color: darkgray; 
    box-sizing: border-box;
    padding: 8px 50px;
    margin: 8px 0px;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
  }




  .preference {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .incognito {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .support {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .report {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0px 8px;
  }

  .text {
    font-size: 20px;
    user-select: none;
  }

  .preferenceList {
    background-color: white;
    transform: 
    translateX(0%)
    translateY(0px);
    
  }