  .wrapper {
    text-align:  center;
    color: red;
    padding: 25px 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }


  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    color: gray;
    background-color: darkgray; 
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
  }

  .logo {
    text-align: center;
    font-size: 20px;
  }