.wrapper {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
    padding: 16px;
    overflow-y: auto;
}

.diveWrapper {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 0.8px;
    user-select: none;
    color: rgb(93, 185, 232);
}

.listWrapper {
    margin-top: 16px;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    height: 230px;
    overflow-y: scroll;
    max-width: 200px;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 8px;
    user-select: none;
    box-sizing: border-box;
}

.showListWrapper {
  display: flex;
}



.listWrapper::-webkit-scrollbar {
    width: 8px;
}

.listWrapper::-webkit-scrollbar-track {
    background: white;
}

.listWrapper::-webkit-scrollbar-thumb {
    background-color: rgb(93, 185, 232);
    border-radius: 8px;
}