.wrapper {
    color: gray;
    background-color: darkgray; 
    box-sizing: border-box;
    padding: 8px 50px;
    margin: 8px 0px;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
  }

  .support {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .report {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: crimson;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0px 8px;
  }