.wrapper {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

a {
    text-decoration: none !important
}

.content {
    text-align: center;
}

.home {
    padding: 8px 20px;
    color: white;
    display: flex;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.home:hover{
    background-color: rgb(70, 70, 70);
}

.favorites{
    padding: 8px 20px;
    color: white;
    display: flex;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.favorites:hover{
    background-color: rgb(70, 70, 70);
}

.account {
    padding: 8px 20px;
    color: white;
    display: flex;
    text-align: center;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
}

.account:hover{
    background-color: rgb(70, 70, 70);
}

.listWrapper {
    display: none;
}

.showListWrapper {
    display: flex;
}
