:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
} 

body {
  margin: 0;
  height: 100dvh;
  overflow: auto;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 2px solid rgb(93, 185, 232);
  color: rgb(93, 185, 232);
  user-select: none;
  outline: none;
  font-size: 14px;
  background-color: var(--input-background-color);
}


button {
  background-color: var(--button-background-color);
}


input::placeholder {
  color: var(--placeholder-color);
}